In [5]:
from crawling.news import get_news_from_naver
from crawling.constants import NEWS_TYPE, TICKER_TYPE
from crawling.yahoo_finances import download_of_ticker

In [6]:
download_of_ticker(TICKER_TYPE.Oil)

[*********************100%***********************]  1 of 1 completed

Price        Date      Close       High        Low       Open  Volume
0      2025-03-14  67.180000  67.480003  66.589996  66.779999  180495
1      2025-03-17  67.580002  68.370003  67.250000  67.349998  161298
2      2025-03-18  66.900002  68.720001  66.559998  67.400002  110338
3      2025-03-19  67.160004  67.629997  66.209999  66.720001   73077
4      2025-03-20  68.260002  68.470001  66.879997  67.290001   73077

ModuleNotFoundError: No module named 'pyspark'