In [1]:
import yfinance as yf

In [2]:
# Define the ticker symbol
ticker_symbol = "AAPL"

# Create a Ticker object
ticker = yf.Ticker(ticker_symbol)

# Fetch historical market data
historical_data = ticker.history(period="1y")  # data for the last year
print("Historical Data:")
print(historical_data)

# Fetch basic financials
financials = ticker.financials
print("\nFinancials:")
print(financials)

# Fetch stock actions like dividends and splits
actions = ticker.actions
print("\nStock Actions:")
print(actions)

Historical Data:
                                 Open        High         Low       Close  \
Date
2024-03-18 00:00:00-04:00  174.744891  176.874834  172.704523  172.903580
2024-03-19 00:00:00-04:00  173.520659  175.779995  172.216818  175.252487
2024-03-20 00:00:00-04:00  174.894174  177.830307  174.267130  177.830307
2024-03-21 00:00:00-04:00  176.217919  176.655854  170.037098  170.564606
2024-03-22 00:00:00-04:00  170.952792  172.236738  169.260784  171.470352
...                               ...         ...         ...         ...
2025-03-11 00:00:00-04:00  223.809998  225.839996  217.449997  220.839996
2025-03-12 00:00:00-04:00  220.139999  221.750000  214.910004  216.979996
2025-03-13 00:00:00-04:00  215.949997  216.839996  208.419998  209.679993
2025-03-14 00:00:00-04:00  211.250000  213.949997  209.580002  213.490005
2025-03-17 00:00:00-04:00  213.309998  215.220001  209.970001  214.000000

                              Volume  Dividends  Stock Splits
Date
2024-03-18 00:00:00-04:00   75604200        0.0           0.0
2024-03-19 00:00:00-04:00   55215200        0.0           0.0
2024-03-20 00:00:00-04:00   53423100        0.0           0.0
2024-03-21 00:00:00-04:00  106181300        0.0           0.0
2024-03-22 00:00:00-04:00   71106600        0.0           0.0
...                              ...        ...           ...
2025-03-11 00:00:00-04:00   76137400        0.0           0.0
2025-03-12 00:00:00-04:00   62547500        0.0           0.0
2025-03-13 00:00:00-04:00   61368300        0.0           0.0
2025-03-14 00:00:00-04:00   60107600        0.0           0.0
2025-03-17 00:00:00-04:00   48042800        0.0           0.0

[250 rows x 7 columns]

Financials:
                                                        2024-09-30  \
Tax Effect Of Unusual Items                                    0.0
Tax Rate For Calcs                                           0.241
Normalized EBITDA                                   134661000000.0
Net Income From Continuing Operation Net Minori...   93736000000.0
Reconciled Depreciation                              11445000000.0
Reconciled Cost Of Revenue                          210352000000.0
EBITDA                                              134661000000.0
EBIT                                                123216000000.0
Net Interest Income                                            NaN
Interest Expense                                               NaN
Interest Income                                                NaN
Normalized Income                                    93736000000.0
Net Income From Continuing And Discontinued Ope...   93736000000.0
Total Expenses                                      267819000000.0
Total Operating Income As Reported                  123216000000.0
Diluted Average Shares                               15408095000.0
Basic Average Shares                                 15343783000.0
Diluted EPS                                                   6.08
Basic EPS                                                     6.11
Diluted NI Availto Com Stockholders                  93736000000.0
Net Income Common Stockholders                       93736000000.0
Net Income                                           93736000000.0
Net Income Including Noncontrolling Interests        93736000000.0
Net Income Continuous Operations                     93736000000.0
Tax Provision                                        29749000000.0
Pretax Income                                       123485000000.0
Other Income Expense                                   269000000.0
Other Non Operating Income Expenses                    269000000.0
Net Non Operating Interest Income Expense                      NaN
Interest Expense Non Operating                                 NaN
Interest Income Non Operating                                  NaN
Operating Income                                    123216000000.0
Operating Expense                                    57467000000.0
Research And Development                             31370000000.0
Selling General And Administration                   26097000000.0
Gross Profit                                        180683000000.0
Cost Of Revenue                                     210352000000.0
Total Revenue                                       391035000000.0
Operating Revenue                                   391035000000.0

                                                        2023-09-30  \
Tax Effect Of Unusual Items                                    0.0
Tax Rate For Calcs                                           0.147
Normalized EBITDA                                   125820000000.0
Net Income From Continuing Operation Net Minori...   96995000000.0
Reconciled Depreciation                              11519000000.0
Reconciled Cost Of Revenue                          214137000000.0
EBITDA                                              125820000000.0
EBIT                                                114301000000.0
Net Interest Income                                   -183000000.0
Interest Expense                                      3933000000.0
Interest Income                                       3750000000.0
Normalized Income                                    96995000000.0
Net Income From Continuing And Discontinued Ope...   96995000000.0
Total Expenses                                      268984000000.0
Total Operating Income As Reported                  114301000000.0
Diluted Average Shares                               15812547000.0
Basic Average Shares                                 15744231000.0
Diluted EPS                                                   6.13
Basic EPS                                                     6.16
Diluted NI Availto Com Stockholders                  96995000000.0
Net Income Common Stockholders                       96995000000.0
Net Income                                           96995000000.0
Net Income Including Noncontrolling Interests        96995000000.0
Net Income Continuous Operations                     96995000000.0
Tax Provision                                        16741000000.0
Pretax Income                                       113736000000.0
Other Income Expense                                  -565000000.0
Other Non Operating Income Expenses                   -565000000.0
Net Non Operating Interest Income Expense             -183000000.0
Interest Expense Non Operating                        3933000000.0
Interest Income Non Operating                         3750000000.0
Operating Income                                    114301000000.0
Operating Expense                                    54847000000.0
Research And Development                             29915000000.0
Selling General And Administration                   24932000000.0
Gross Profit                                        169148000000.0
Cost Of Revenue                                     214137000000.0
Total Revenue                                       383285000000.0
Operating Revenue                                   383285000000.0

                                                        2022-09-30  \
Tax Effect Of Unusual Items                                    0.0
Tax Rate For Calcs                                           0.162
Normalized EBITDA                                   130541000000.0
Net Income From Continuing Operation Net Minori...   99803000000.0
Reconciled Depreciation                              11104000000.0
Reconciled Cost Of Revenue                          223546000000.0
EBITDA                                              130541000000.0
EBIT                                                119437000000.0
Net Interest Income                                   -106000000.0
Interest Expense                                      2931000000.0
Interest Income                                       2825000000.0
Normalized Income                                    99803000000.0
Net Income From Continuing And Discontinued Ope...   99803000000.0
Total Expenses                                      274891000000.0
Total Operating Income As Reported                  119437000000.0
Diluted Average Shares                               16325819000.0
Basic Average Shares                                 16215963000.0
Diluted EPS                                                   6.11
Basic EPS                                                     6.15
Diluted NI Availto Com Stockholders                  99803000000.0
Net Income Common Stockholders                       99803000000.0
Net Income                                           99803000000.0
Net Income Including Noncontrolling Interests        99803000000.0
Net Income Continuous Operations                     99803000000.0
Tax Provision                                        19300000000.0
Pretax Income                                       119103000000.0
Other Income Expense                                  -334000000.0
Other Non Operating Income Expenses                   -334000000.0
Net Non Operating Interest Income Expense             -106000000.0
Interest Expense Non Operating                        2931000000.0
Interest Income Non Operating                         2825000000.0
Operating Income                                    119437000000.0
Operating Expense                                    51345000000.0
Research And Development                             26251000000.0
Selling General And Administration                   25094000000.0
Gross Profit                                        170782000000.0
Cost Of Revenue                                     223546000000.0
Total Revenue                                       394328000000.0
Operating Revenue                                   394328000000.0

                                                        2021-09-30  \
Tax Effect Of Unusual Items                                    0.0
Tax Rate For Calcs                                           0.133
Normalized EBITDA                                   123136000000.0
Net Income From Continuing Operation Net Minori...   94680000000.0
Reconciled Depreciation                              11284000000.0
Reconciled Cost Of Revenue                          212981000000.0
EBITDA                                              123136000000.0
EBIT                                                111852000000.0
Net Interest Income                                    198000000.0
Interest Expense                                      2645000000.0
Interest Income                                       2843000000.0
Normalized Income                                    94680000000.0
Net Income From Continuing And Discontinued Ope...   94680000000.0
Total Expenses                                      256868000000.0
Total Operating Income As Reported                  108949000000.0
Diluted Average Shares                               16864919000.0
Basic Average Shares                                 16701272000.0
Diluted EPS                                                   5.61
Basic EPS                                                     5.67
Diluted NI Availto Com Stockholders                  94680000000.0
Net Income Common Stockholders                       94680000000.0
Net Income                                           94680000000.0
Net Income Including Noncontrolling Interests        94680000000.0
Net Income Continuous Operations                     94680000000.0
Tax Provision                                        14527000000.0
Pretax Income                                       109207000000.0
Other Income Expense                                    60000000.0
Other Non Operating Income Expenses                     60000000.0
Net Non Operating Interest Income Expense              198000000.0
Interest Expense Non Operating                        2645000000.0
Interest Income Non Operating                         2843000000.0
Operating Income                                    108949000000.0
Operating Expense                                    43887000000.0
Research And Development                             21914000000.0
Selling General And Administration                   21973000000.0
Gross Profit                                        152836000000.0
Cost Of Revenue                                     212981000000.0
Total Revenue                                       365817000000.0
Operating Revenue                                   365817000000.0

                                                      2020-09-30
Tax Effect Of Unusual Items                                  NaN
Tax Rate For Calcs                                           NaN
Normalized EBITDA                                            NaN
Net Income From Continuing Operation Net Minori...           NaN
Reconciled Depreciation                                      NaN
Reconciled Cost Of Revenue                                   NaN
EBITDA                                                       NaN
EBIT                                                         NaN
Net Interest Income                                  890000000.0
Interest Expense                                    2873000000.0
Interest Income                                     3763000000.0
Normalized Income                                            NaN
Net Income From Continuing And Discontinued Ope...           NaN
Total Expenses                                               NaN
Total Operating Income As Reported                           NaN
Diluted Average Shares                                       NaN
Basic Average Shares                                         NaN
Diluted EPS                                                  NaN
Basic EPS                                                    NaN
Diluted NI Availto Com Stockholders                          NaN
Net Income Common Stockholders                               NaN
Net Income                                                   NaN
Net Income Including Noncontrolling Interests                NaN
Net Income Continuous Operations                             NaN
Tax Provision                                                NaN
Pretax Income                                                NaN
Other Income Expense                                         NaN
Other Non Operating Income Expenses                          NaN
Net Non Operating Interest Income Expense            890000000.0
Interest Expense Non Operating                      2873000000.0
Interest Income Non Operating                       3763000000.0
Operating Income                                             NaN
Operating Expense                                            NaN
Research And Development                                     NaN
Selling General And Administration                           NaN
Gross Profit                                                 NaN
Cost Of Revenue                                              NaN
Total Revenue                                                NaN
Operating Revenue                                            NaN

Stock Actions:
                           Dividends  Stock Splits
Date
2024-05-10 00:00:00-04:00       0.25           0.0
2024-08-12 00:00:00-04:00       0.25           0.0
2024-11-08 00:00:00-05:00       0.25           0.0
2025-02-10 00:00:00-05:00       0.25           0.0

In [6]:
import yfinance as yf
from datetime import datetime

enddate=datetime.now().strftime('%Y-%m-%d')
oil=yf.download('DX-Y.NYB', '2001-01-01', enddate, auto_adjust=True)
oil.head()

[*********************100%***********************]  1 of 1 completed

Price            Close        High         Low        Open   Volume
Ticker        DX-Y.NYB    DX-Y.NYB    DX-Y.NYB    DX-Y.NYB DX-Y.NYB
Date
2001-01-02  108.769997  109.650002  108.639999  109.330002        0
2001-01-03  110.169998  110.339996  108.089996  108.589996        0
2001-01-04  108.809998  110.400002  108.510002  110.300003        0
2001-01-05  108.419998  109.309998  108.260002  108.639999        0
2001-01-08  108.860001  109.190002  108.230003  108.330002        0

In [1]:
from common.search.download import download_of_ticker
from common.search.constants import TICKER_TYPE

In [2]:
from datetime import datetime

enddate=datetime.now().strftime('%Y-%m-%d')

df = download_of_ticker(TICKER_TYPE.DOLLAR, '2001-01-01', enddate)
df.head()

[*********************100%***********************]  1 of 1 completed

Price,Date,Close,High,Low,Open,Volume,Ticker
0,2001-01-02,108.769997,109.650002,108.639999,109.330002,0,달러 인덱스
1,2001-01-03,110.169998,110.339996,108.089996,108.589996,0,달러 인덱스
2,2001-01-04,108.809998,110.400002,108.510002,110.300003,0,달러 인덱스
3,2001-01-05,108.419998,109.309998,108.260002,108.639999,0,달러 인덱스
4,2001-01-08,108.860001,109.190002,108.230003,108.330002,0,달러 인덱스

In [ ]:
['Date',	'Close',	'High',	'Low',	'Open',	'Volume',	'Ticker']

In [4]:
from datetime import datetime

today = datetime.now()

type(today.year)

int

In [6]:
from common.search.constants import TICKER_TYPE

TICKER_TYPE.__members__.keys()

dict_keys(['OIL', 'DOLLAR', 'GOLD', 'COPPER', 'KOSPI'])